@import "_source-sans-pro";
@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

header {
    @include outer-container(800px);
    border-bottom: 1px dotted #eee;

    h1 {
        @include span-columns(12);
        letter-spacing:5px;
        @include media(720px) {
            @include span-columns(3);
        }
    }
    h2 {
        @include span-columns(12);
        @include omega;
        font-size: 1.4em;
        font-weight: 200;
        margin-top: 0px;
        letter-spacing:2px;
        @include media(720px) {
            @include span-columns(9);
            margin-top: 34px;
        }
    }
}
.jagss-readme {
    @include outer-container(600px);
}
pre {
    background-color: #eee;
    color: #008209;
    padding: 10px;
    line-height: 1.2em;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 0px darken(#008209, 10);
}
