<div id="ebsNavbarContainer">
    <div class="container" id="ebsNavbarInnerContainer">
        <div class="row">
            <div class="col-xs-12 col-sm-3 ebsNavbarItem {% if active == 'home' %}ebsNavbarActive{% endif %}">
                <span class="ebsNavbarLinkWrapper">
                    <a href="/" class="ebsNavbarMainLink">
                        <span class="letterE">e</span><span class="spanWithoutOneSpace">sonderegger</span>
                    </a>
                </span>
            </div>
            <div class="col-xs-4 col-sm-3 ebsNavbarItem {% if active == 'about' %}ebsNavbarActive{% endif %}">
                <span class="ebsNavbarLinkWrapper">
                    <a href="/about.html" class="ebsNavbarLink">ABOUT</a>
                </span>
            </div>
            <div class="col-xs-4 col-sm-3 ebsNavbarItem {% if active == 'projects' %}ebsNavbarActive{% endif %}">
                <span class="ebsNavbarLinkWrapper">
                    <a href="/projects.html" class="ebsNavbarLink">PROJECTS</a>
                </span>
            </div>
            <div class="col-xs-4 col-sm-3 ebsNavbarItem {% if active == 'contact' %}ebsNavbarActive{% endif %}">
                <span class="ebsNavbarLinkWrapper">
                    <a href="/contact.html" class="ebsNavbarLink">CONTACT</a>
                </span>
            </div>
        </div>
    </div>
</div>
